<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 17 - Vue js ajax com vue-resource</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
    <div id="app">
        <br />
        <br />
       
        <div class="container">
          <h1> {{titulo}}</h1>  
          <button @click.stop.prevent = "getUsers()" class="btn bt-success">submit</button>
        <div v-if="response.status == 'error'"  class="alert alert-danger">{{response.msg}}</div>
        <div v-if="loader.users" class="alert alert-success">Carregando usuários...</div> 
        <ul>
            <li v-for="user in users">{{user.name}}</li>
        </ul>
        </div>
    </div>   

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script>    
        var mixin = {
            methods: {
                getUsers() {
                    this.loader.users = true;
                    var url = 'http://jsonplaceholder.typicode.com/users';
                    this.$http.get(url)
                    .then(function(response) {
                        this.users = response.body;
                    }, function (error) {
                        this.response.status = "error";                                              
                    })
                    .finally(function () {
                        this.loader.users = false;
                    });
                }
            }
        }

        var app = new Vue({
            el: "#app",
            mixins:[mixin],
            data: {
                titulo: "Aula 17 - Vue js ajax com vue-resource!",
                users: [],
                loader: {
                    users:false
                },
                response: {
                    msg: "Error ao conectar",
                    status: ""
                }
            }
        })
    </script>
</body>

</html>