<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 14 - enviando dados entre componentes não parentes</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
    <div id="app">
        <br />
        <br />
        <br />
        <div class="container">
            <input-form></input-form>
            <br />
            <my-list></my-list>

        </div>
    </div>

    <template id="form">
        <div class="card">
            <div class="card-block">
                <div class="form-group">
                    <label for="">Título</label>
                    <input type="text" v-model="title" class="form-control">
                </div>
                <button @click.stop.prevent="submit()" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </template>


    <template id="list">
        <ul class="list-group">
            <li v-for="item in list"
                class="list-group-item">{{item.title}}</li>           
        </ul>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component('input-form', {
            template: '#form',
            data() {
                return {
                    title: ''
                }
            },
            methods: {
                submit() {
                    this.$eventHub.$emit('submit', this.title)
                }
            }
        });
        Vue.component('my-list', {
            template: "#list",
            create() {
                var vm = this;
                vm.$eventHub.$on('submit', function (title) {
                    if (title)
                        vm.list.push({ title: title })

                    console.log(title);
                })
            },
            data() {
                return {
                    list: [
                        { title: "ir a feira" }
                    ]
                }
            }
        });

        // var eventBus = new Vue();
        Vue.prototype.$eventHub = new Vue();

        var app = new Vue({
            el: "#app",
            data: {
                titulo: "Aula 14 - enviando dados entre componentes não parentes!"
            }
        })
    </script>
</body>

</html>