<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 22 -  Vue js rotas: history mode e rotas nomeadas</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .fade-enter-active,
        .fade-leave-active {
            transition: opacity .5s;
        }

        .fade-enter,
        .fade-leave-to

        /* .fade-leave-active below version 2.1.8 */
            {
            opacity: 0;
        }
    </style>
</head>

<body>
    <div id="app">
        <br />
        <br />

        <div class="container">
            <h1> {{titulo}}</h1>   
            <ul>
                <li><router-link :to="{ name:'transformers' }">Transformers</router-link></li>
                <li><router-link :to="{ name:'gameOfThrones' }">GameOfThrones</router-link></li>
            </ul>
            <router-view></router-view>
        </div>

    </div>
    <template id="transformers">
        <div>
            <h4> Transformers</h4>
            <ul>
                <li v-for="item in transformers">{{item.name}} </li>
            </ul>
        </div>
    </template>

    <template id="gameOfThrones">
        <div>
            <h4> Game Of Thrones</h4>
            <ul>
                <li v-for="item in gameOfThrones">{{item.name}} </li>
            </ul>
        </div>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script>
        var Transformers = Vue.component('transformers', {
            template: '#transformers',
            data() {
                return {
                    transformers: [
                        { name: 'Emma' },
                        { name: 'Sophia' },
                        { name: 'Isabella' }
                    ]
                }
            }
        })

        var GameOfThrones = Vue.component('game-of-thrones', {
            template: '#gameOfThrones',
            data() {
                return {
                    gameOfThrones: [
                        { name: 'Emma' },
                        { name: 'Sophia' },
                        { name: 'Isabella' }
                    ]
                }
            }
        })
        
        var router = new VueRouter({
           // mode:'history',
            routes: [
                {path: '/transformers', name:'transformers', component: Transformers},
                {path: '/game-of-thrones', name:'gameOfThrones',component: GameOfThrones}
            ]

        });

        var app = new Vue({
            el: "#app",
            router,           
            data: {
                titulo: "Aula 22 -  Vue js rotas: history mode e rotas nomeadas!"                
            }
        })
    </script>
</body>

</html>